@model Kiralama

<form method="post" enctype="multipart/form-data">
   

    <div class="row">
        <div class="col-8">
            <div class="border p-3 mt-3">
                <div class="row pb-3">

                    <h2 class="text-primary">@(Model == null ? "Yeni Kiralama" : "Kiralama Guncelle")</h2>
                    </hr>
                </div>

                <div class="mb-3">
                    <label asp-for="OgrenciId"></label>
                    <input asp-for="OgrenciId" class="form-control" />
                    <span class="text-danger" asp-validation-for="OgrenciId"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="KitapId"></label>
                    <select asp-for="KitapId" name="KitapId" asp-items="ViewBag.KitapList" class="form-select"></select>
                    <span class="text-danger" asp-validation-for="KitapId"></span>
                </div>

                @if (Model != null)
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Kiralama Guncelle</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Kitap Kirala</button>
                }


                <button class="btn btn-lg btn-danger" asp-controller="Kiralama" asp-action="Index" style="float: right;">Vazgeç</button>

            </div>
        </div>
        <div class="col-2">
            <br />
            @if (Model != null)
            {
                <img src="@Model.Kitap.ResimUrl" width="100%" style="border-radius:7px; border:1px solid #bbb9b9 " />
            }
        </div>

        
    </div>


</form>

@* @section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
} *@