@{
    ViewData["Title"] = "Iletisim Bilgileri";
}
<h1>@ViewData["Title"]</h1>

<p>Iletişim Bilgileri: </p>
<br/>
<p>Adres:</p>
<p>Somewhere in the world</p>
<br />
<p>Email: </p>
<a href="sometestmail@sometest.com">sometestmail@sometest.com</a>